---

# Generate passwords using:
# docker run --rm -it -v /media/DataSSD/docker-mounts/authelia/config/configuration.yml:/configuration.yml authelia/authelia:latest authelia crypto hash generate --config /configuration.yml

users:
  rafal:
    displayname: 'Rafal'
    password: "{{ lookup('env', 'authelia_rafal_password') }}"
    groups:
      - 'admin'