localise-queries

{% for item in ["", "pihole", "traefik", "authelia", "homepage", "dozzle"] %}
host-record={{ item + '.' if item else '' }}{{ domain }},{{ local_ip }}
host-record={{ item + '.' if item else '' }}{{ domain }},{{ tailscale_ip }}
{% endfor %}